* {
    margin: 0;
    padding: 0;
}

#week-calendar{
    width: 100%;
    height: 700px;
    overflow: auto;
}

#month-calendar{
    width: 100%;
    height: 700px;
    overflow: auto;
}

#month-calendar table td li{
    list-style-type: none;
}

#month-calendar table td .date{
    height: 20px;
}

#month-calendar table td .tasks{
    height: 60px;
}

.bg-light-green{
    background-color: lightgreen !important;
}